In [ ]:
from google import colab
colab.drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import VotingClassifier
from sklearn.neighbors import KNeighborsClassifier


import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/JobCare_data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/JobCare_data/test.csv')

In [ ]:
train

            id  d_l_match_yn  ...     contents_open_dt  target
0            0          True  ...  2020-01-17 12:09:36       1
1            1         False  ...  2020-06-18 17:48:52       0
2            2         False  ...  2020-07-08 20:00:10       0
3            3         False  ...  2020-01-13 18:09:34       0
4            4          True  ...  2020-03-09 20:39:22       0
...        ...           ...  ...                  ...     ...
501946  501946         False  ...  2020-03-13 12:55:52       1
501947  501947          True  ...  2020-01-20 11:51:51       1
501948  501948          True  ...  2020-08-05 17:27:24       1
501949  501949          True  ...  2020-06-15 09:23:21       1
501950  501950          True  ...  2020-05-25 14:34:48       1

[501951 rows x 35 columns]

In [ ]:
test

          id  d_l_match_yn  ...  contents_rn     contents_open_dt
0          0          True  ...       236865  2020-12-01 02:24:18
1          1         False  ...       236572  2020-12-17 05:42:53
2          2          True  ...       704612  2020-12-10 23:33:41
3          3          True  ...       704652  2020-12-03 19:44:55
4          4          True  ...       704413  2020-12-11 21:24:34
...      ...           ...  ...          ...                  ...
46399  46399          True  ...       726084  2020-12-17 01:06:26
46400  46400          True  ...       156948  2020-12-29 21:57:25
46401  46401          True  ...       175069  2020-12-10 19:09:09
46402  46402          True  ...       174849  2020-12-07 14:04:34
46403  46403          True  ...       173406  2020-12-22 16:43:39

[46404 rows x 34 columns]

In [ ]:
COLUMNS = [
    "d_l_match_yn", "d_m_match_yn", "d_s_match_yn", "h_l_match_yn", "h_m_match_yn", 
    "h_s_match_yn", "person_attribute_a", "person_attribute_a_1", "person_attribute_b", "person_prefer_c", "person_prefer_d_1", "person_prefer_d_2",
    "person_prefer_d_3", "person_prefer_e", "person_prefer_h_1", "person_prefer_h_2", "person_prefer_h_3",
    "contents_attribute_i",	"contents_attribute_a",	"contents_attribute_j_1",	"contents_attribute_j", "contents_attribute_c",	"contents_attribute_k",
    "contents_attribute_l",	"contents_attribute_d",	"contents_attribute_m",	"contents_attribute_e",	"contents_attribute_h",	"person_rn",	"contents_rn",
]

CATEGORICAL_COLUMNS = [
    "d_l_match_yn", "d_m_match_yn", "d_s_match_yn", "h_l_match_yn", "h_m_match_yn", 
    "h_s_match_yn"
]

CONTINUOUS_COLUMNS = [
    "person_attribute_a", "person_attribute_a_1", "person_attribute_b", "person_prefer_c", "person_prefer_d_1", "person_prefer_d_2",
    "person_prefer_d_3", "person_prefer_e", "person_prefer_h_1", "person_prefer_h_2", "person_prefer_h_3",
    "contents_attribute_i",	"contents_attribute_a",	"contents_attribute_j_1",	"contents_attribute_j", "contents_attribute_c",	"contents_attribute_k",
    "contents_attribute_l",	"contents_attribute_d",	"contents_attribute_m",	"contents_attribute_e",	"contents_attribute_h",	"person_rn",	"contents_rn",
]

In [ ]:
from sklearn.preprocessing import LabelEncoder
for c in CATEGORICAL_COLUMNS:
    le = LabelEncoder()
    train[c] = le.fit_transform(train[c])

train

            id  d_l_match_yn  ...     contents_open_dt  target
0            0             1  ...  2020-01-17 12:09:36       1
1            1             0  ...  2020-06-18 17:48:52       0
2            2             0  ...  2020-07-08 20:00:10       0
3            3             0  ...  2020-01-13 18:09:34       0
4            4             1  ...  2020-03-09 20:39:22       0
...        ...           ...  ...                  ...     ...
501946  501946             0  ...  2020-03-13 12:55:52       1
501947  501947             1  ...  2020-01-20 11:51:51       1
501948  501948             1  ...  2020-08-05 17:27:24       1
501949  501949             1  ...  2020-06-15 09:23:21       1
501950  501950             1  ...  2020-05-25 14:34:48       1

[501951 rows x 35 columns]

In [ ]:
X = train[COLUMNS]
y = train['target']

In [ ]:
X

        d_l_match_yn  d_m_match_yn  ...  person_rn  contents_rn
0                  1             1  ...     618822       354805
1                  0             0  ...     571659       346213
2                  0             0  ...     399816       206408
3                  0             0  ...     827967       572323
4                  1             1  ...     831614       573899
...              ...           ...  ...        ...          ...
501946             0             0  ...     503156       285850
501947             1             1  ...     676255       456996
501948             1             1  ...     484528       293258
501949             1             0  ...     456330       273797
501950             1             1  ...     235596       176650

[501951 rows x 30 columns]

In [ ]:
y

0         1
1         0
2         0
3         0
4         0
         ..
501946    1
501947    1
501948    1
501949    1
501950    1
Name: target, Length: 501951, dtype: int64

In [ ]:
from sklearn.ensemble import BaggingClassifier

model1 = RandomForestClassifier(max_depth= 70, min_samples_leaf=4, min_samples_split=10,
                                n_estimators=400, n_jobs=-1)
model2 = BaggingClassifier(DecisionTreeClassifier(max_depth=70), n_estimators=400)
cv = KFold(5, shuffle=True, random_state=0)
accuracy1 = cross_val_score(model1, X, y, scoring="accuracy", cv=cv)
accuracy2 = cross_val_score(model2, X, y, scoring="accuracy", cv=cv)
accuracy1.mean(), accuracy1.std(), accuracy2.mean(), accuracy2.std()

KeyboardInterrupt: ignored

In [ ]:
test = test[COLUMNS]

In [ ]:
for c in CATEGORICAL_COLUMNS:
    le = LabelEncoder()
    test[c] = le.fit_transform(test[c])

test

In [ ]:
model2.fit(X,y)

In [ ]:
preds = model2.predict(test)

In [ ]:
submission = pd.read_csv('/content/drive/MyDrive/JobCare_data/sample_submission.csv')
submission['target'] = preds

submission.to_csv('baseline.csv', index=False)

In [ ]:
from sklearn.ensemble import BaggingClassifier
model1 = LogisticRegression()
model2 = RandomForestClassifier(n_estimators=300, max_depth=60, n_jobs=-1)
model3 = BaggingClassifier(DecisionTreeClassifier(max_depth=60), n_estimators=300)
model = VotingClassifier(
    estimators=[('lr', model1),('RFC', model2), ('BC', model3)], 
    voting='hard', weights=[1, 1.5, 1])

In [ ]:
model.fit(X,y)

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('RFC',
                              RandomForestClassifier(max_depth=60,
                                                     n_estimators=300,
                                                     n_jobs=-1)),
                             ('BC',
                              BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth=60),
                                                n_estimators=300))],
                 weights=[1, 1.5, 1])

In [ ]:
test = test[COLUMNS]

In [ ]:
for c in CATEGORICAL_COLUMNS:
    le = LabelEncoder()
    test[c] = le.fit_transform(test[c])

test

       d_l_match_yn  d_m_match_yn  ...  person_rn  contents_rn
0                 1             0  ...     393790       236865
1                 0             0  ...     394058       236572
2                 1             0  ...    1002061       704612
3                 1             0  ...    1000813       704652
4                 1             0  ...     111146       704413
...             ...           ...  ...        ...          ...
46399             1             1  ...     425040       726084
46400             1             0  ...     290061       156948
46401             1             1  ...     307951       175069
46402             1             1  ...     308354       174849
46403             1             1  ...     309401       173406

[46404 rows x 30 columns]

In [ ]:
preds = model.predict(test)

In [ ]:
submission = pd.read_csv('/content/drive/MyDrive/JobCare_data/sample_submission.csv')
submission['target'] = preds

submission.to_csv('baseline.csv', index=False)